
svg path.fclass { stroke: blue; }

svg.web-map.style-scope path.fclass._1 { stroke: blue; fill: #FF8C00;}
svg path.fclass._2 { stroke: blue; fill: #F5DEB3;}
svg path.fclass._3 { stroke: blue; fill: #7CFC00;}
svg path.fclass._4 { stroke: blue; fill: #E9967A;}
svg path.fclass._5 { stroke: blue; fill: #000080;}
svg path.fclass._6 { stroke: blue; fill: #006400;}
svg path.fclass._7 { stroke: blue; fill: #C0C0C0;}
svg path.fclass._8 { stroke: blue; fill: #FFE4E1;}
svg path.fclass._9 { stroke: blue; fill: #696969;}
svg path.fclass._10 { stroke: blue; fill: #556B2F;}
svg path.fclass._11 { stroke: blue; fill: #DCDCDC;}
svg path.fclass._12 { stroke: blue; fill: #00008B;}
svg path.fclass._13 { stroke: blue; fill: #FFF8DC;}
svg path.fclass._14 { stroke: blue; fill: #BC8F8F;}
svg path.fclass._15 { stroke: blue; fill: #483D8B;}
svg path.fclass._16 { stroke: blue; fill: #4682B4;}
svg path.fclass._17 { stroke: blue; fill: #98FB98;}
svg path.fclass._18 { stroke: blue; fill: #FFFFF0;}
svg path.fclass._19 { stroke: blue; fill: #EE82EE;}
svg path.fclass._20 { stroke: blue; fill: #DB7093;}
svg path.fclass._21 { stroke: blue; fill: #FF1493;}
svg path.fclass._22 { stroke: blue; fill: #F0F8FF;}
svg path.fclass._23 { stroke: blue; fill: #ADFF2F;}
svg path.fclass._24 { stroke: blue; fill: #7FFFD4;}
svg path.fclass._25 { stroke: blue; fill: #FF7F50;}
svg path.fclass._26 { stroke: blue; fill: #5F9EA0;}
svg path.fclass._27 { stroke: blue; fill: #87CEFA;}
svg path.fclass._28 { stroke: blue; fill: #F5FFFA;}
svg path.fclass._29 { stroke: blue; fill: #228B22;}
svg path.fclass._30 { stroke: blue; fill: #CD5C5C;}
svg path.fclass._31 { stroke: blue; fill: #FFB6C1;}
svg path.fclass._32 { stroke: blue; fill: #F8F8FF;}
svg path.fclass._33 { stroke: blue; fill: #B8860B;}
svg path.fclass._34 { stroke: blue; fill: #FF6347;}
svg path.fclass._35 { stroke: blue; fill: #E6E6FA;}
svg path.fclass._36 { stroke: blue; fill: #F0FFF0;}
svg path.fclass._37 { stroke: blue; fill: #FFFAF0;}
svg path.fclass._38 { stroke: blue; fill: #BA55D3;}
svg path.fclass._39 { stroke: blue; fill: #708090;}
svg path.fclass._40 { stroke: blue; fill: #008B8B;}
svg path.fclass._41 { stroke: blue; fill: #8FBC8F;}
svg path.fclass._42 { stroke: blue; fill: #6B8E23;}
svg path.fclass._43 { stroke: blue; fill: #0000CD;}
svg path.fclass._44 { stroke: blue; fill: #FFD700;}
svg path.fclass._45 { stroke: blue; fill: #3CB371;}
svg path.fclass._46 { stroke: blue; fill: #FFF0F5;}
svg path.fclass._47 { stroke: blue; fill: #FFFF00;}
svg path.fclass._48 { stroke: blue; fill: #BDB76B;}
svg path.fclass._49 { stroke: blue; fill: #FFFFE0;}
svg path.fclass._50 { stroke: blue; fill: #8A2BE2;}
svg path.fclass._51 { stroke: blue; fill: #FF69B4;}
svg path.fclass._52 { stroke: blue; fill: #808080;}
svg path.fclass._53 { stroke: blue; fill: #DC143C;}
svg path.fclass._54 { stroke: blue; fill: #9400D3;}
svg path.fclass._55 { stroke: blue; fill: #4B0082;}
svg path.fclass._56 { stroke: blue; fill: #66CDAA;}
svg path.fclass._57 { stroke: blue; fill: #800080;}
svg path.fclass._58 { stroke: blue; fill: #DA70D6;}
svg path.fclass._59 { stroke: blue; fill: #90EE90;}
svg path.fclass._60 { stroke: blue; fill: #D2691E;}
svg path.fclass._61 { stroke: blue; fill: #8B008B;}
svg path.fclass._62 { stroke: blue; fill: #A52A2A;}
svg path.fclass._63 { stroke: blue; fill: #EEE8AA;}
svg path.fclass._64 { stroke: blue; fill: #FFA500;}
svg path.fclass._65 { stroke: blue; fill: #E0FFFF;}
svg path.fclass._66 { stroke: blue; fill: #000000;}
svg path.fclass._67 { stroke: blue; fill: #4169E1;}
svg path.fclass._68 { stroke: blue; fill: #B0E0E6;}
svg path.fclass._69 { stroke: blue; fill: #FFF5EE;}
svg path.fclass._70 { stroke: blue; fill: #00FF7F;}
svg path.fclass._71 { stroke: blue; fill: #8B4513;}
svg path.fclass._72 { stroke: blue; fill: #DAA520;}
svg path.fclass._73 { stroke: blue; fill: #DDA0DD;}
svg path.fclass._74 { stroke: blue; fill: #00BFFF;}
svg path.fclass._75 { stroke: blue; fill: #7B68EE;}
svg path.fclass._76 { stroke: blue; fill: #008080;}
svg path.fclass._77 { stroke: blue; fill: #48D1CC;}
svg path.fclass._78 { stroke: blue; fill: #9932CC;}
svg path.fclass._79 { stroke: blue; fill: #00FFFF;}
svg path.fclass._80 { stroke: blue; fill: #6A5ACD;}
svg path.fclass._81 { stroke: blue; fill: #00FA9A;}
svg path.fclass._82 { stroke: blue; fill: #8B0000;}
svg path.fclass._83 { stroke: blue; fill: #FFEFD5;}
svg path.fclass._84 { stroke: blue; fill: #1E90FF;}
svg path.fclass._85 { stroke: blue; fill: #AFEEEE;}
svg path.fclass._86 { stroke: blue; fill: #FAEBD7;}
svg path.fclass._87 { stroke: blue; fill: #FAFAD2;}
svg path.fclass._88 { stroke: blue; fill: #A0522D;}
svg path.fclass._89 { stroke: blue; fill: #20B2AA;}
svg path.fclass._90 { stroke: blue; fill: #FFE4C4;}
svg path.fclass._91 { stroke: blue; fill: #FFFFFF;}
svg path.fclass._92 { stroke: blue; fill: #F4A460;}
svg path.fclass._93 { stroke: blue; fill: #9ACD32;}
svg path.fclass._94 { stroke: blue; fill: #778899;}
svg path.fclass._95 { stroke: blue; fill: #FFA07A;}
svg path.fclass._96 { stroke: blue; fill: #F5F5DC;}
svg path.fclass._97 { stroke: blue; fill: #D2B48C;}
svg path.fclass._98 { stroke: blue; fill: #800000;}
svg path.fclass._99 { stroke: blue; fill: #FFC0CB;}
svg path.fclass._100 { stroke: blue; fill: #40E0D0;}
svg path.fclass._101 { stroke: blue; fill: #D3D3D3;}
svg path.fclass._102 { stroke: blue; fill: #F08080;}
svg path.fclass._103 { stroke: blue; fill: #F0FFFF;}
svg path.fclass._104 { stroke: blue; fill: #DEB887;}
svg path.fclass._105 { stroke: blue; fill: #808000;}
svg path.fclass._106 { stroke: blue; fill: #C71585;}
svg path.fclass._107 { stroke: blue; fill: #D8BFD8;}
svg path.fclass._108 { stroke: blue; fill: #008000;}
svg path.fclass._109 { stroke: blue; fill: #2F4F4F;}
svg path.fclass._110 { stroke: blue; fill: #0000FF;}
svg path.fclass._111 { stroke: blue; fill: #9370DB;}
svg path.fclass._112 { stroke: blue; fill: #FF4500;}
svg path.fclass._113 { stroke: blue; fill: #87CEEB;}
svg path.fclass._114 { stroke: blue; fill: #00FFFF;}
svg path.fclass._115 { stroke: blue; fill: #A9A9A9;}
svg path.fclass._116 { stroke: blue; fill: #7B68EE;}
svg path.fclass._117 { stroke: blue; fill: #F0E68C;}
svg path.fclass._118 { stroke: blue; fill: #00FF00;}
svg path.fclass._119 { stroke: blue; fill: #CD853F;}
svg path.fclass._120 { stroke: blue; fill: #191970;}
svg path.fclass._121 { stroke: blue; fill: #FAF0E6;}
svg path.fclass._122 { stroke: blue; fill: #FDF5E6;}
svg path.fclass._123 { stroke: blue; fill: #FF00FF;}
svg path.fclass._124 { stroke: blue; fill: #B0C4DE;}
svg path.fclass._125 { stroke: blue; fill: #32CD32;}
svg path.fclass._126 { stroke: blue; fill: #FFA07A;}
svg path.fclass._127 { stroke: blue; fill: #FFFACD;}
svg path.fclass._128 { stroke: blue; fill: #FFEBCD;}
svg path.fclass._129 { stroke: blue; fill: #FFE4B5;}
svg path.fclass._130 { stroke: blue; fill: #F5F5F5;}
svg path.fclass._131 { stroke: blue; fill: #B22222;}
svg path.fclass._132 { stroke: blue; fill: #FFDAB9;}
svg path.fclass._133 { stroke: blue; fill: #FF00FF;}
svg path.fclass._134 { stroke: blue; fill: #2E8B57;}
svg path.fclass._135 { stroke: blue; fill: #FF0000;}
svg path.fclass._136 { stroke: blue; fill: #9966CC;}
svg path.fclass._137 { stroke: blue; fill: #FA8072;}
svg path.fclass._138 { stroke: blue; fill: #FFDEAD;}
svg path.fclass._139 { stroke: blue; fill: #00CED1;}
svg path.fclass._140 { stroke: blue; fill: #FFFAFA;}
svg path.fclass._141 { stroke: blue; fill: #7FFF00;}
svg path.fclass._142 { stroke: blue; fill: #6495ED;}
svg path.fclass._143 { stroke: blue; fill: #ADD8E6;}
svg path.fclass._144 { stroke: blue; fill: #FF8C00;}
svg path.fclass._145 { stroke: blue; fill: #F5DEB3;}
svg path.fclass._146 { stroke: blue; fill: #7CFC00;}
svg path.fclass._147 { stroke: blue; fill: #E9967A;}
svg path.fclass._148 { stroke: blue; fill: #000080;}
svg path.fclass._149 { stroke: blue; fill: #006400;}
svg path.fclass._150 { stroke: blue; fill: #C0C0C0;}
svg path.fclass._151 { stroke: blue; fill: #FFE4E1;}
svg path.fclass._152 { stroke: blue; fill: #696969;}
svg path.fclass._153 { stroke: blue; fill: #556B2F;}
svg path.fclass._154 { stroke: blue; fill: #DCDCDC;}
svg path.fclass._155 { stroke: blue; fill: #00008B;}
svg path.fclass._156 { stroke: blue; fill: #FFF8DC;}
svg path.fclass._157 { stroke: blue; fill: #BC8F8F;}
svg path.fclass._158 { stroke: blue; fill: #483D8B;}
svg path.fclass._159 { stroke: blue; fill: #4682B4;}
svg path.fclass._160 { stroke: blue; fill: #98FB98;}
svg path.fclass._161 { stroke: blue; fill: #FFFFF0;}
svg path.fclass._162 { stroke: blue; fill: #EE82EE;}
svg path.fclass._163 { stroke: blue; fill: #DB7093;}
svg path.fclass._164 { stroke: blue; fill: #FF1493;}
svg path.fclass._165 { stroke: blue; fill: #F0F8FF;}
svg path.fclass._166 { stroke: blue; fill: #ADFF2F;}
svg path.fclass._167 { stroke: blue; fill: #7FFFD4;}
svg path.fclass._168 { stroke: blue; fill: #FF7F50;}
svg path.fclass._169 { stroke: blue; fill: #5F9EA0;}
svg path.fclass._170 { stroke: blue; fill: #87CEFA;}
svg path.fclass._171 { stroke: blue; fill: #F5FFFA;}
svg path.fclass._172 { stroke: blue; fill: #228B22;}
svg path.fclass._173 { stroke: blue; fill: #CD5C5C;}
svg path.fclass._174 { stroke: blue; fill: #FFB6C1;}
svg path.fclass._175 { stroke: blue; fill: #F8F8FF;}
svg path.fclass._176 { stroke: blue; fill: #B8860B;}
svg path.fclass._177 { stroke: blue; fill: #FF6347;}
svg path.fclass._178 { stroke: blue; fill: #E6E6FA;}
svg path.fclass._179 { stroke: blue; fill: #F0FFF0;}
svg path.fclass._180 { stroke: blue; fill: #FFFAF0;}
svg path.fclass._181 { stroke: blue; fill: #BA55D3;}
svg path.fclass._182 { stroke: blue; fill: #708090;}
svg path.fclass._183 { stroke: blue; fill: #008B8B;}
svg path.fclass._184 { stroke: blue; fill: #8FBC8F;}
svg path.fclass._185 { stroke: blue; fill: #6B8E23;}
svg path.fclass._186 { stroke: blue; fill: #0000CD;}
svg path.fclass._187 { stroke: blue; fill: #FFD700;}
svg path.fclass._188 { stroke: blue; fill: #3CB371;}
svg path.fclass._189 { stroke: blue; fill: #FFF0F5;}
svg path.fclass._190 { stroke: blue; fill: #FFFF00;}
svg path.fclass._191 { stroke: blue; fill: #BDB76B;}
svg path.fclass._192 { stroke: blue; fill: #FFFFE0;}
svg path.fclass._193 { stroke: blue; fill: #8A2BE2;}
svg path.fclass._194 { stroke: blue; fill: #FF69B4;}
svg path.fclass._195 { stroke: blue; fill: #808080;}
svg path.fclass._196 { stroke: blue; fill: #DC143C;}
svg path.fclass._197 { stroke: blue; fill: #9400D3;}
svg path.fclass._198 { stroke: blue; fill: #4B0082;}
svg path.fclass._199 { stroke: blue; fill: #66CDAA;}
svg path.fclass._200 { stroke: blue; fill: #800080;}
svg path.fclass._201 { stroke: blue; fill: #DA70D6;}
svg path.fclass._202 { stroke: blue; fill: #90EE90;}
svg path.fclass._203 { stroke: blue; fill: #D2691E;}
svg path.fclass._204 { stroke: blue; fill: #8B008B;}
svg path.fclass._205 { stroke: blue; fill: #A52A2A;}
svg path.fclass._206 { stroke: blue; fill: #EEE8AA;}
svg path.fclass._207 { stroke: blue; fill: #FFA500;}
svg path.fclass._208 { stroke: blue; fill: #E0FFFF;}
svg path.fclass._209 { stroke: blue; fill: #000000;}
svg path.fclass._210 { stroke: blue; fill: #4169E1;}
svg path.fclass._211 { stroke: blue; fill: #B0E0E6;}
svg path.fclass._212 { stroke: blue; fill: #FFF5EE;}
svg path.fclass._213 { stroke: blue; fill: #00FF7F;}
svg path.fclass._214 { stroke: blue; fill: #8B4513;}
svg path.fclass._215 { stroke: blue; fill: #DAA520;}
svg path.fclass._216 { stroke: blue; fill: #DDA0DD;}
svg path.fclass._217 { stroke: blue; fill: #00BFFF;}
svg path.fclass._218 { stroke: blue; fill: #7B68EE;}
svg path.fclass._219 { stroke: blue; fill: #008080;}
svg path.fclass._220 { stroke: blue; fill: #48D1CC;}
svg path.fclass._221 { stroke: blue; fill: #9932CC;}
svg path.fclass._222 { stroke: blue; fill: #00FFFF;}
svg path.fclass._223 { stroke: blue; fill: #6A5ACD;}
svg path.fclass._224 { stroke: blue; fill: #00FA9A;}
svg path.fclass._225 { stroke: blue; fill: #8B0000;}
svg path.fclass._226 { stroke: blue; fill: #FFEFD5;}
svg path.fclass._227 { stroke: blue; fill: #1E90FF;}
svg path.fclass._228 { stroke: blue; fill: #AFEEEE;}
svg path.fclass._229 { stroke: blue; fill: #FAEBD7;}
svg path.fclass._230 { stroke: blue; fill: #FAFAD2;}
svg path.fclass._231 { stroke: blue; fill: #A0522D;}
svg path.fclass._232 { stroke: blue; fill: #20B2AA;}
svg path.fclass._233 { stroke: blue; fill: #FFE4C4;}
svg path.fclass._234 { stroke: blue; fill: #FFFFFF;}
svg path.fclass._235 { stroke: blue; fill: #F4A460;}
svg path.fclass._236 { stroke: blue; fill: #9ACD32;}
svg path.fclass._237 { stroke: blue; fill: #778899;}
svg path.fclass._238 { stroke: blue; fill: #FFA07A;}
svg path.fclass._239 { stroke: blue; fill: #F5F5DC;}
svg path.fclass._240 { stroke: blue; fill: #D2B48C;}
svg path.fclass._241 { stroke: blue; fill: #800000;}
svg path.fclass._242 { stroke: blue; fill: #FFC0CB;}
svg path.fclass._243 { stroke: blue; fill: #40E0D0;}
svg path.fclass._244 { stroke: blue; fill: #D3D3D3;}
svg path.fclass._245 { stroke: blue; fill: #F08080;}
svg path.fclass._246 { stroke: blue; fill: #F0FFFF;}
svg path.fclass._247 { stroke: blue; fill: #DEB887;}
svg path.fclass._248 { stroke: blue; fill: #808000;}
svg path.fclass._249 { stroke: blue; fill: #C71585;}
svg path.fclass._250 { stroke: blue; fill: #D8BFD8;}
svg path.fclass._251 { stroke: blue; fill: #008000;}
svg path.fclass._252 { stroke: blue; fill: #2F4F4F;}
svg path.fclass._253 { stroke: blue; fill: #0000FF;}
svg path.fclass._254 { stroke: blue; fill: #9370DB;}
svg path.fclass._255 { stroke: blue; fill: #FF4500;}
svg path.fclass._256 { stroke: blue; fill: #87CEEB;}
svg path.fclass._257 { stroke: blue; fill: #00FFFF;}
svg path.fclass._258 { stroke: blue; fill: #A9A9A9;}
svg path.fclass._259 { stroke: blue; fill: #7B68EE;}
svg path.fclass._260 { stroke: blue; fill: #F0E68C;}
svg path.fclass._261 { stroke: blue; fill: #00FF00;}
svg path.fclass._262 { stroke: blue; fill: #CD853F;}
svg path.fclass._263 { stroke: blue; fill: #191970;}
svg path.fclass._264 { stroke: blue; fill: #FAF0E6;}
svg path.fclass._265 { stroke: blue; fill: #FDF5E6;}
svg path.fclass._266 { stroke: blue; fill: #FF00FF;}
svg path.fclass._267 { stroke: blue; fill: #B0C4DE;}
svg path.fclass._268 { stroke: blue; fill: #32CD32;}
svg path.fclass._269 { stroke: blue; fill: #FFA07A;}
svg path.fclass._270 { stroke: blue; fill: #FFFACD;}
svg path.fclass._271 { stroke: blue; fill: #FFEBCD;}
svg path.fclass._272 { stroke: blue; fill: #FFE4B5;}
svg path.fclass._273 { stroke: blue; fill: #F5F5F5;}
svg path.fclass._274 { stroke: blue; fill: #B22222;}
svg path.fclass._275 { stroke: blue; fill: #FFDAB9;}
svg path.fclass._276 { stroke: blue; fill: #FF00FF;}
svg path.fclass._277 { stroke: blue; fill: #2E8B57;}
svg path.fclass._278 { stroke: blue; fill: #FF0000;}
svg path.fclass._279 { stroke: blue; fill: #9966CC;}
svg path.fclass._280 { stroke: blue; fill: #FA8072;}
svg path.fclass._281 { stroke: blue; fill: #FFDEAD;}
svg path.fclass._282 { stroke: blue; fill: #00CED1;}
svg path.fclass._283 { stroke: blue; fill: #FFFAFA;}
svg path.fclass._284 { stroke: blue; fill: #7FFF00;}
svg path.fclass._285 { stroke: blue; fill: #6495ED;}
svg path.fclass._286 { stroke: blue; fill: #ADD8E6;}


      /* fclass.span is the class assigned to coordinates elements which
      _contain_ one or more span element(s), not to the parts of coordinates that
      are wrapped in spans. These should be stroked (if the fclass with the stroke 
      assigned to path.fclass, but should not be filled, since they represent only
      polygon boundaries)*/
svg path.fclass.span { fill:none; }
      
      /* Those parts which are wrapped in a span also inherit the class
      values of the span element, which in this case are taken to be noline and
      aren't therefore drawn at all (they are there only to represent tile boundaries)*/
svg path.span.noline { display: none}
      