
path.fclass { stroke: blue; }

svg.web-map.style-scope path.fclass._1 { stroke: blue; fill: #FF8C00;}
path.fclass._2 { stroke: blue; fill: #F5DEB3;}
path.fclass._3 { stroke: blue; fill: #7CFC00;}
path.fclass._4 { stroke: blue; fill: #E9967A;}
path.fclass._5 { stroke: blue; fill: #000080;}
path.fclass._6 { stroke: blue; fill: #006400;}
path.fclass._7 { stroke: blue; fill: #C0C0C0;}
path.fclass._8 { stroke: blue; fill: #FFE4E1;}
path.fclass._9 { stroke: blue; fill: #696969;}
path.fclass._10 { stroke: blue; fill: #556B2F;}
path.fclass._11 { stroke: blue; fill: #DCDCDC;}
path.fclass._12 { stroke: blue; fill: #00008B;}
path.fclass._13 { stroke: blue; fill: #FFF8DC;}
path.fclass._14 { stroke: blue; fill: #BC8F8F;}
path.fclass._15 { stroke: blue; fill: #483D8B;}
path.fclass._16 { stroke: blue; fill: #4682B4;}
path.fclass._17 { stroke: blue; fill: #98FB98;}
path.fclass._18 { stroke: blue; fill: #FFFFF0;}
path.fclass._19 { stroke: blue; fill: #EE82EE;}
path.fclass._20 { stroke: blue; fill: #DB7093;}
path.fclass._21 { stroke: blue; fill: #FF1493;}
path.fclass._22 { stroke: blue; fill: #F0F8FF;}
path.fclass._23 { stroke: blue; fill: #ADFF2F;}
path.fclass._24 { stroke: blue; fill: #7FFFD4;}
path.fclass._25 { stroke: blue; fill: #FF7F50;}
path.fclass._26 { stroke: blue; fill: #5F9EA0;}
path.fclass._27 { stroke: blue; fill: #87CEFA;}
path.fclass._28 { stroke: blue; fill: #F5FFFA;}
path.fclass._29 { stroke: blue; fill: #228B22;}
path.fclass._30 { stroke: blue; fill: #CD5C5C;}
path.fclass._31 { stroke: blue; fill: #FFB6C1;}
path.fclass._32 { stroke: blue; fill: #F8F8FF;}
path.fclass._33 { stroke: blue; fill: #B8860B;}
path.fclass._34 { stroke: blue; fill: #FF6347;}
path.fclass._35 { stroke: blue; fill: #E6E6FA;}
path.fclass._36 { stroke: blue; fill: #F0FFF0;}
path.fclass._37 { stroke: blue; fill: #FFFAF0;}
path.fclass._38 { stroke: blue; fill: #BA55D3;}
path.fclass._39 { stroke: blue; fill: #708090;}
path.fclass._40 { stroke: blue; fill: #008B8B;}
path.fclass._41 { stroke: blue; fill: #8FBC8F;}
path.fclass._42 { stroke: blue; fill: #6B8E23;}
path.fclass._43 { stroke: blue; fill: #0000CD;}
path.fclass._44 { stroke: blue; fill: #FFD700;}
path.fclass._45 { stroke: blue; fill: #3CB371;}
path.fclass._46 { stroke: blue; fill: #FFF0F5;}
path.fclass._47 { stroke: blue; fill: #FFFF00;}
path.fclass._48 { stroke: blue; fill: #BDB76B;}
path.fclass._49 { stroke: blue; fill: #FFFFE0;}
path.fclass._50 { stroke: blue; fill: #8A2BE2;}
path.fclass._51 { stroke: blue; fill: #FF69B4;}
path.fclass._52 { stroke: blue; fill: #808080;}
path.fclass._53 { stroke: blue; fill: #DC143C;}
path.fclass._54 { stroke: blue; fill: #9400D3;}
path.fclass._55 { stroke: blue; fill: #4B0082;}
path.fclass._56 { stroke: blue; fill: #66CDAA;}
path.fclass._57 { stroke: blue; fill: #800080;}
path.fclass._58 { stroke: blue; fill: #DA70D6;}
path.fclass._59 { stroke: blue; fill: #90EE90;}
path.fclass._60 { stroke: blue; fill: #D2691E;}
path.fclass._61 { stroke: blue; fill: #8B008B;}
path.fclass._62 { stroke: blue; fill: #A52A2A;}
path.fclass._63 { stroke: blue; fill: #EEE8AA;}
path.fclass._64 { stroke: blue; fill: #FFA500;}
path.fclass._65 { stroke: blue; fill: #E0FFFF;}
path.fclass._66 { stroke: blue; fill: #000000;}
path.fclass._67 { stroke: blue; fill: #4169E1;}
path.fclass._68 { stroke: blue; fill: #B0E0E6;}
path.fclass._69 { stroke: blue; fill: #FFF5EE;}
path.fclass._70 { stroke: blue; fill: #00FF7F;}
path.fclass._71 { stroke: blue; fill: #8B4513;}
path.fclass._72 { stroke: blue; fill: #DAA520;}
path.fclass._73 { stroke: blue; fill: #DDA0DD;}
path.fclass._74 { stroke: blue; fill: #00BFFF;}
path.fclass._75 { stroke: blue; fill: #7B68EE;}
path.fclass._76 { stroke: blue; fill: #008080;}
path.fclass._77 { stroke: blue; fill: #48D1CC;}
path.fclass._78 { stroke: blue; fill: #9932CC;}
path.fclass._79 { stroke: blue; fill: #00FFFF;}
path.fclass._80 { stroke: blue; fill: #6A5ACD;}
path.fclass._81 { stroke: blue; fill: #00FA9A;}
path.fclass._82 { stroke: blue; fill: #8B0000;}
path.fclass._83 { stroke: blue; fill: #FFEFD5;}
path.fclass._84 { stroke: blue; fill: #1E90FF;}
path.fclass._85 { stroke: blue; fill: #AFEEEE;}
path.fclass._86 { stroke: blue; fill: #FAEBD7;}
path.fclass._87 { stroke: blue; fill: #FAFAD2;}
path.fclass._88 { stroke: blue; fill: #A0522D;}
path.fclass._89 { stroke: blue; fill: #20B2AA;}
path.fclass._90 { stroke: blue; fill: #FFE4C4;}
path.fclass._91 { stroke: blue; fill: #FFFFFF;}
path.fclass._92 { stroke: blue; fill: #F4A460;}
path.fclass._93 { stroke: blue; fill: #9ACD32;}
path.fclass._94 { stroke: blue; fill: #778899;}
path.fclass._95 { stroke: blue; fill: #FFA07A;}
path.fclass._96 { stroke: blue; fill: #F5F5DC;}
path.fclass._97 { stroke: blue; fill: #D2B48C;}
path.fclass._98 { stroke: blue; fill: #800000;}
path.fclass._99 { stroke: blue; fill: #FFC0CB;}
path.fclass._100 { stroke: blue; fill: #40E0D0;}
path.fclass._101 { stroke: blue; fill: #D3D3D3;}
path.fclass._102 { stroke: blue; fill: #F08080;}
path.fclass._103 { stroke: blue; fill: #F0FFFF;}
path.fclass._104 { stroke: blue; fill: #DEB887;}
path.fclass._105 { stroke: blue; fill: #808000;}
path.fclass._106 { stroke: blue; fill: #C71585;}
path.fclass._107 { stroke: blue; fill: #D8BFD8;}
path.fclass._108 { stroke: blue; fill: #008000;}
path.fclass._109 { stroke: blue; fill: #2F4F4F;}
path.fclass._110 { stroke: blue; fill: #0000FF;}
path.fclass._111 { stroke: blue; fill: #9370DB;}
path.fclass._112 { stroke: blue; fill: #FF4500;}
path.fclass._113 { stroke: blue; fill: #87CEEB;}
path.fclass._114 { stroke: blue; fill: #00FFFF;}
path.fclass._115 { stroke: blue; fill: #A9A9A9;}
path.fclass._116 { stroke: blue; fill: #7B68EE;}
path.fclass._117 { stroke: blue; fill: #F0E68C;}
path.fclass._118 { stroke: blue; fill: #00FF00;}
path.fclass._119 { stroke: blue; fill: #CD853F;}
path.fclass._120 { stroke: blue; fill: #191970;}
path.fclass._121 { stroke: blue; fill: #FAF0E6;}
path.fclass._122 { stroke: blue; fill: #FDF5E6;}
path.fclass._123 { stroke: blue; fill: #FF00FF;}
path.fclass._124 { stroke: blue; fill: #B0C4DE;}
path.fclass._125 { stroke: blue; fill: #32CD32;}
path.fclass._126 { stroke: blue; fill: #FFA07A;}
path.fclass._127 { stroke: blue; fill: #FFFACD;}
path.fclass._128 { stroke: blue; fill: #FFEBCD;}
path.fclass._129 { stroke: blue; fill: #FFE4B5;}
path.fclass._130 { stroke: blue; fill: #F5F5F5;}
path.fclass._131 { stroke: blue; fill: #B22222;}
path.fclass._132 { stroke: blue; fill: #FFDAB9;}
path.fclass._133 { stroke: blue; fill: #FF00FF;}
path.fclass._134 { stroke: blue; fill: #2E8B57;}
path.fclass._135 { stroke: blue; fill: #FF0000;}
path.fclass._136 { stroke: blue; fill: #9966CC;}
path.fclass._137 { stroke: blue; fill: #FA8072;}
path.fclass._138 { stroke: blue; fill: #FFDEAD;}
path.fclass._139 { stroke: blue; fill: #00CED1;}
path.fclass._140 { stroke: blue; fill: #FFFAFA;}
path.fclass._141 { stroke: blue; fill: #7FFF00;}
path.fclass._142 { stroke: blue; fill: #6495ED;}
path.fclass._143 { stroke: blue; fill: #ADD8E6;}
path.fclass._144 { stroke: blue; fill: #FF8C00;}
path.fclass._145 { stroke: blue; fill: #F5DEB3;}
path.fclass._146 { stroke: blue; fill: #7CFC00;}
path.fclass._147 { stroke: blue; fill: #E9967A;}
path.fclass._148 { stroke: blue; fill: #000080;}
path.fclass._149 { stroke: blue; fill: #006400;}
path.fclass._150 { stroke: blue; fill: #C0C0C0;}
path.fclass._151 { stroke: blue; fill: #FFE4E1;}
path.fclass._152 { stroke: blue; fill: #696969;}
path.fclass._153 { stroke: blue; fill: #556B2F;}
path.fclass._154 { stroke: blue; fill: #DCDCDC;}
path.fclass._155 { stroke: blue; fill: #00008B;}
path.fclass._156 { stroke: blue; fill: #FFF8DC;}
path.fclass._157 { stroke: blue; fill: #BC8F8F;}
path.fclass._158 { stroke: blue; fill: #483D8B;}
path.fclass._159 { stroke: blue; fill: #4682B4;}
path.fclass._160 { stroke: blue; fill: #98FB98;}
path.fclass._161 { stroke: blue; fill: #FFFFF0;}
path.fclass._162 { stroke: blue; fill: #EE82EE;}
path.fclass._163 { stroke: blue; fill: #DB7093;}
path.fclass._164 { stroke: blue; fill: #FF1493;}
path.fclass._165 { stroke: blue; fill: #F0F8FF;}
path.fclass._166 { stroke: blue; fill: #ADFF2F;}
path.fclass._167 { stroke: blue; fill: #7FFFD4;}
path.fclass._168 { stroke: blue; fill: #FF7F50;}
path.fclass._169 { stroke: blue; fill: #5F9EA0;}
path.fclass._170 { stroke: blue; fill: #87CEFA;}
path.fclass._171 { stroke: blue; fill: #F5FFFA;}
path.fclass._172 { stroke: blue; fill: #228B22;}
path.fclass._173 { stroke: blue; fill: #CD5C5C;}
path.fclass._174 { stroke: blue; fill: #FFB6C1;}
path.fclass._175 { stroke: blue; fill: #F8F8FF;}
path.fclass._176 { stroke: blue; fill: #B8860B;}
path.fclass._177 { stroke: blue; fill: #FF6347;}
path.fclass._178 { stroke: blue; fill: #E6E6FA;}
path.fclass._179 { stroke: blue; fill: #F0FFF0;}
path.fclass._180 { stroke: blue; fill: #FFFAF0;}
path.fclass._181 { stroke: blue; fill: #BA55D3;}
path.fclass._182 { stroke: blue; fill: #708090;}
path.fclass._183 { stroke: blue; fill: #008B8B;}
path.fclass._184 { stroke: blue; fill: #8FBC8F;}
path.fclass._185 { stroke: blue; fill: #6B8E23;}
path.fclass._186 { stroke: blue; fill: #0000CD;}
path.fclass._187 { stroke: blue; fill: #FFD700;}
path.fclass._188 { stroke: blue; fill: #3CB371;}
path.fclass._189 { stroke: blue; fill: #FFF0F5;}
path.fclass._190 { stroke: blue; fill: #FFFF00;}
path.fclass._191 { stroke: blue; fill: #BDB76B;}
path.fclass._192 { stroke: blue; fill: #FFFFE0;}
path.fclass._193 { stroke: blue; fill: #8A2BE2;}
path.fclass._194 { stroke: blue; fill: #FF69B4;}
path.fclass._195 { stroke: blue; fill: #808080;}
path.fclass._196 { stroke: blue; fill: #DC143C;}
path.fclass._197 { stroke: blue; fill: #9400D3;}
path.fclass._198 { stroke: blue; fill: #4B0082;}
path.fclass._199 { stroke: blue; fill: #66CDAA;}
path.fclass._200 { stroke: blue; fill: #800080;}
path.fclass._201 { stroke: blue; fill: #DA70D6;}
path.fclass._202 { stroke: blue; fill: #90EE90;}
path.fclass._203 { stroke: blue; fill: #D2691E;}
path.fclass._204 { stroke: blue; fill: #8B008B;}
path.fclass._205 { stroke: blue; fill: #A52A2A;}
path.fclass._206 { stroke: blue; fill: #EEE8AA;}
path.fclass._207 { stroke: blue; fill: #FFA500;}
path.fclass._208 { stroke: blue; fill: #E0FFFF;}
path.fclass._209 { stroke: blue; fill: #000000;}
path.fclass._210 { stroke: blue; fill: #4169E1;}
path.fclass._211 { stroke: blue; fill: #B0E0E6;}
path.fclass._212 { stroke: blue; fill: #FFF5EE;}
path.fclass._213 { stroke: blue; fill: #00FF7F;}
path.fclass._214 { stroke: blue; fill: #8B4513;}
path.fclass._215 { stroke: blue; fill: #DAA520;}
path.fclass._216 { stroke: blue; fill: #DDA0DD;}
path.fclass._217 { stroke: blue; fill: #00BFFF;}
path.fclass._218 { stroke: blue; fill: #7B68EE;}
path.fclass._219 { stroke: blue; fill: #008080;}
path.fclass._220 { stroke: blue; fill: #48D1CC;}
path.fclass._221 { stroke: blue; fill: #9932CC;}
path.fclass._222 { stroke: blue; fill: #00FFFF;}
path.fclass._223 { stroke: blue; fill: #6A5ACD;}
path.fclass._224 { stroke: blue; fill: #00FA9A;}
path.fclass._225 { stroke: blue; fill: #8B0000;}
path.fclass._226 { stroke: blue; fill: #FFEFD5;}
path.fclass._227 { stroke: blue; fill: #1E90FF;}
path.fclass._228 { stroke: blue; fill: #AFEEEE;}
path.fclass._229 { stroke: blue; fill: #FAEBD7;}
path.fclass._230 { stroke: blue; fill: #FAFAD2;}
path.fclass._231 { stroke: blue; fill: #A0522D;}
path.fclass._232 { stroke: blue; fill: #20B2AA;}
path.fclass._233 { stroke: blue; fill: #FFE4C4;}
path.fclass._234 { stroke: blue; fill: #FFFFFF;}
path.fclass._235 { stroke: blue; fill: #F4A460;}
path.fclass._236 { stroke: blue; fill: #9ACD32;}
path.fclass._237 { stroke: blue; fill: #778899;}
path.fclass._238 { stroke: blue; fill: #FFA07A;}
path.fclass._239 { stroke: blue; fill: #F5F5DC;}
path.fclass._240 { stroke: blue; fill: #D2B48C;}
path.fclass._241 { stroke: blue; fill: #800000;}
path.fclass._242 { stroke: blue; fill: #FFC0CB;}
path.fclass._243 { stroke: blue; fill: #40E0D0;}
path.fclass._244 { stroke: blue; fill: #D3D3D3;}
path.fclass._245 { stroke: blue; fill: #F08080;}
path.fclass._246 { stroke: blue; fill: #F0FFFF;}
path.fclass._247 { stroke: blue; fill: #DEB887;}
path.fclass._248 { stroke: blue; fill: #808000;}
path.fclass._249 { stroke: blue; fill: #C71585;}
path.fclass._250 { stroke: blue; fill: #D8BFD8;}
path.fclass._251 { stroke: blue; fill: #008000;}
path.fclass._252 { stroke: blue; fill: #2F4F4F;}
path.fclass._253 { stroke: blue; fill: #0000FF;}
path.fclass._254 { stroke: blue; fill: #9370DB;}
path.fclass._255 { stroke: blue; fill: #FF4500;}
path.fclass._256 { stroke: blue; fill: #87CEEB;}
path.fclass._257 { stroke: blue; fill: #00FFFF;}
path.fclass._258 { stroke: blue; fill: #A9A9A9;}
path.fclass._259 { stroke: blue; fill: #7B68EE;}
path.fclass._260 { stroke: blue; fill: #F0E68C;}
path.fclass._261 { stroke: blue; fill: #00FF00;}
path.fclass._262 { stroke: blue; fill: #CD853F;}
path.fclass._263 { stroke: blue; fill: #191970;}
path.fclass._264 { stroke: blue; fill: #FAF0E6;}
path.fclass._265 { stroke: blue; fill: #FDF5E6;}
path.fclass._266 { stroke: blue; fill: #FF00FF;}
path.fclass._267 { stroke: blue; fill: #B0C4DE;}
path.fclass._268 { stroke: blue; fill: #32CD32;}
path.fclass._269 { stroke: blue; fill: #FFA07A;}
path.fclass._270 { stroke: blue; fill: #FFFACD;}
path.fclass._271 { stroke: blue; fill: #FFEBCD;}
path.fclass._272 { stroke: blue; fill: #FFE4B5;}
path.fclass._273 { stroke: blue; fill: #F5F5F5;}
path.fclass._274 { stroke: blue; fill: #B22222;}
path.fclass._275 { stroke: blue; fill: #FFDAB9;}
path.fclass._276 { stroke: blue; fill: #FF00FF;}
path.fclass._277 { stroke: blue; fill: #2E8B57;}
path.fclass._278 { stroke: blue; fill: #FF0000;}
path.fclass._279 { stroke: blue; fill: #9966CC;}
path.fclass._280 { stroke: blue; fill: #FA8072;}
path.fclass._281 { stroke: blue; fill: #FFDEAD;}
path.fclass._282 { stroke: blue; fill: #00CED1;}
path.fclass._283 { stroke: blue; fill: #FFFAFA;}
path.fclass._284 { stroke: blue; fill: #7FFF00;}
path.fclass._285 { stroke: blue; fill: #6495ED;}
path.fclass._286 { stroke: blue; fill: #ADD8E6;}

      /* Those parts which are wrapped in a span also inherit the class
      values of the span element, which in this case are taken to be noline and
      aren't therefore drawn at all (they are there only to represent tile boundaries)*/
path.noline { display: none}
      