/nbproject/private/
/nbproject/customs.json
/nbproject/project.properties
/nbproject/project.xml
/nbproject/
/src/bower_components/
/src/demo/bower_components/
/dist/
/bower_components/
/node_modules/
/test-results/
.idea/
*.iml
test.html
