/*.leaflet-clickable {stroke:rgb(102,51,153); stroke-width: 2px;}*/

/* wooded area, no outline */
._1240012 {
  fill: rgb(208,234,221); stroke: none;
}
/* permanent or unknown waterbodies */
._1481262,._1481292,._1481302,._1481312,._1481322,._1481332,._1481342,._1481362,._1481372,._1481382,._1481392,._1481402, 
._1483262, ._1483292, ._1483302, ._1483312, ._1483322, ._1483332, ._1483342, ._1483362, ._1483372, ._1483382, ._1483392, ._1483402 {
  fill: rgb(191,233,255);
  stroke: none;
}
/* shoreline */
._1440011 {
  fill: none;
  stroke: rgb(0,197,225);
}
._1490022 {
  display:none;
}
/* intermittent waterbodies */
._1482262, ._1482292, ._1482302, ._1482312, ._1482322, ._1482332, ._1482342, ._1482362, ._1482372, ._1482382, ._1482392, ._1482402 {
  fill: url('#intermittent_2_pix'); 
  stroke: rgb(0,197,225);
  stroke-dasharray: 8 4;
}
/* permanent snow or ice */
._1140012 {
  fill: rgb(231,245,247);
}
/* peat cutting */
._1350052 {
  fill: none;
  stroke: rgb(0,0,0);
  stroke-dasharray: 4 2;
  marker-mid: url('#designatedarea_2_dashed_ell');
}
/* dam - point */
._1450030 {
  stroke:black;
  fill:none;
  stroke-width: 3px;
}

.legend_text {
  stroke: black;
  font-size: 8pt;
  font-family: Verdana;
  alignment-baseline: middle
}

/* dam - line */
._1450031 {
  stroke:black;
  fill:none;
  stroke-width: 3px;
}

/* dam - large - needs a pattern - see legend for toporama */
._1450032 {
  stroke: rgb(0,0,0);
  stroke-width: 3px;
  stroke-linecap: square;
}
/* residential area */
._1370012 {
  fill: rgb(251,213,222);
  stroke: none;
}
/* palsabog */
._1320022 {
  fill: url('#palsabog_2_pix');
  stroke: rgb(0,146,255);
  marker-mid: url('#bog_stroke_ell');
}
/* glacial debris undifferentiated */
._1080032 {
  color: rgb(231,245,247);
  fill: url('#glacialdebris_2_pix');
  stroke: rgb(0,197,225);
}
/* transformer station - needs a font marker '#' beside it */
._1360052 {
  fill: rgb(0,0,0);
  stroke-dasharray: 4 2;
  stroke-width: 1px;
}
/* picnic site */
._2490012 {
  fill: rgb(0,0,0);
  stroke-dasharray: 4 2;
  stroke-width: 1px;
}
/* park sports field */
._2270009 {
  /* the details of this symbol may need its own pattern buried in limits_1_inside_gray_vct
   url('#limits_1_inside_gray_vct')*/
  stroke: rgb(191,191,191);
  stroke-width: 1px;
  stroke-dasharray: 4 2;
  fill: rgb(255, 255, 255);
}
/* gas and oil facilities */
._1360042 {
  fill:none;
  stroke: rgb(0,0,0);
  stroke-dasharray: 4 2;
  stroke-width: 1px;
}

._2500012 {stroke: rgb(102,51,153);}
._1000089 {stroke: rgb(0, 0, 0); stroke-width: 0.1; stroke-dasharray: 1mm 0.5mm}
._1000042 {stroke: rgb(0,0,0);fill: none;}
._2070012 {stroke: rgb(102,51,153);}
._1000032 {
  stroke: rgb(0,0,0);
  stroke-dasharray: 4 2;
}
._2480012 {stroke: rgb(102,51,153);}
._2560012 {stroke: rgb(102,51,153);}
._1360012 {stroke: rgb(102,51,153);}
._1360022 {stroke: rgb(102,51,153);}
._2110012 {stroke: rgb(102,51,153);}
._1000012 {stroke: rgb(102,51,153);}
._2510022 {stroke: rgb(102,51,153);}
._2200012 {stroke: rgb(102,51,153);}
._2260012 {stroke: rgb(102,51,153);}
._1350012 {stroke: rgb(102,51,153);fill: url('#sand_2_pix');}
._1350022 {stroke: rgb(102,51,153);}
/* extraction area */
._1350032 {display: none}
._1350042 {stroke: rgb(102,51,153);}
/* mine */
._1350040 {
  stroke: rgb(102,51,153);
}

/* buildings of various types */
._2010022, ._2010032, ._2010062, ._2010082, ._2010092, ._2010172, ._2010182, ._2010202, ._2010212, ._2010242, ._2010262, ._2010272, ._2010302, ._2010332, ._2010402, ._2010382
 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* coast guard station - label to the right with "C" */
._2010072 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* customs post - label to the right with "D" */
._2010102 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* electric power station - label to the right with "#" */
._2010122 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* fire station - label to the right with "f" */
._2010132 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* religious building - no label */
._2010392 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* educational building - no label */
._2010422 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* other, unknown building - no label */
._2010012, ._2010252 {
  fill: rgb(120,120,120);
  stroke: none;
}
/* sports track / race track */
._1000072 {
  stroke: rgb(102,51,153);
}
/* tank */
._2080022 {
  fill: rgb(120,120,120);
  stroke: none;
}
._2380012 {stroke: rgb(102,51,153);}
/* stadium */
._2460012 {
  fill: rgb(0,0,0);
  stroke: none;
}
/* runways */
._1190032,._1190062,._1190102 {
  fill: rgb(220,220,220);
  stroke: rgb(0,0,0);
}
/* ruins */
._2400012 {
  stroke: rgb(102,51,153);
}
._2240021 {
  fill: none;
  stroke-width: 2px;
  stroke: rgb(0, 0, 0);
}

._1460012 {stroke: rgb(102,51,153);}
._1460011 {stroke: rgb(102,51,153);}
._1080012 {stroke: rgb(102,51,153);
  fill: url('#sand_2_pix');
  }
._1320032,._1320042 {stroke: rgb(102,51,153);
  fill: url('#wetland_2_pix');
  color: rgb(0,140,255);
}
/* tundra pond*/
._1320012 {stroke: rgb(102,51,153);
  fill: url('#sand_2_pix');
}
._1320052 {
  stroke: rgb(102,51,153);
}
._1080062 {stroke: rgb(102,51,153);
  fill: url('#sand_2_pix');
}
/* moraine */
._1080042 {stroke: rgb(102,51,153);
  fill: url('#sand_2_pix');
}
/* contours */
._1030101, ._1030111, ._1030121 {stroke: rgb(130,130,130); stroke-width: 0.1mm; fill: none;}
._1000071 {stroke: rgb(102,51,153);}
._2280011 {stroke: rgb(102,51,153);}
._1460021 {stroke: rgb(102,51,153);}
._1180011 {stroke: rgb(102,51,153);}

._1120011 { 
  fill: none; 
  stroke: rgb(102,51,153);
}
._2230011 {stroke: rgb(102,51,153);}

/* municipal limits  */
._1680032, ._1680022, ._1680012 {
    fill: none; 
    stroke: rgb(255, 211, 127); 
    stroke-width: 1.0mm}

/* roads of various classes */
.major_paved_road {
  fill: none;
  stroke: rgb(141,39,27);
  stroke-width: 2.4px;  
}
.paved_multiple_lane {
  fill: none;
  stroke: rgb(141,39,27);
  stroke-width: 1.8px;
}
.paved_single_lane {
  fill: none;
  stroke: rgb(141,39,27);
  stroke-width: 1.1px;
}
.unpaved_multiple_lane {
  fill: none;
  stroke: rgb(183,118,37);
  stroke-width: 1.8px;  
}
.unpaved_single_lane {
  fill: none;
  stroke: rgb(183, 118, 37);
  stroke-width: 1.1px;  
}
._1750011 {
  /* ferry route, needs the little boat marker symbol */
  fill: none;
  stroke: rgb(0,0,0);
  stroke-dasharray: 5 6;
  stroke-linecap: butt;
  stroke-width: 1px;
}
  /* /(specific-code)1020011/(rail-type)1 */
  /* needs a symbol for the ties */
.rail_main, .rail_siding {
 stroke: rgb(75,75,75);
 fill: none;
 }
.rail_yard, .rail_spur, .rail_connecting, .rail_crossover {
  /* /(specific-code)1020011/(rail-type)1 */
  /* needs a symbol for the ties */
  fill: none;
  stroke: rgb(195,195,195);
}
.rail_ferry {
  /* /(specific-code)1050011 */
  fill: none;
  stroke: rgb(20,20,20);
  stroke-dasharray: 8 5 3 5;
}
._1020011 {
  fill: none;
  stroke: rgb(102,51,153);
}

/* watercourse: (1470111 or 1470121 or 1470131 or 1470141 or 1470171 or 1470181) and (watercourse-permanency)+/-1 (permanent or unknown) */
.watercourse_permanent {
  fill: none;
  stroke: rgb(0,197,225);
}
/* watercourse: (1470111 or 1470121 or 1470131 or 1470141 or 1470171 or 1470181) and (watercourse-permanency)2 (intermittent) */
.watercourse_intermittent {
  fill: none;
  stroke: rgb(0,197,225);
  stroke-dasharray: 12 3;
}
._2420011 {
  fill: none;
  stroke: rgb(78, 78, 78);
  stroke-dasharray: 1.2mm 0.5mm;
}
._1080021 {fill: none;stroke: rgb(102,51,153);}
._1460040 {stroke: rgb(102,51,153);}
._1250010 {stroke: rgb(102,51,153);}
._1200010 {stroke: rgb(102,51,153);}
._1360050 {stroke: rgb(102,51,153);}
._1340010 {stroke: rgb(102,51,153);}
._2000010 {stroke: rgb(102,51,153);}
._2120010 {stroke: rgb(102,51,153);}
._2060010 {stroke: rgb(102,51,153);}
._2170010 {stroke: rgb(102,51,153);}
._2350030 {stroke: rgb(102,51,153);}
._2350020 {stroke: rgb(102,51,153);}
._2530020 {stroke: rgb(102,51,153);}
._2080010 {stroke: rgb(102,51,153);}
._2440010 {stroke: rgb(102,51,153);}
._1190030 {stroke: rgb(102,51,153);}
/* Ruins */
._2400010 {stroke: rgb(102,51,153);}
._2010010 {stroke: rgb(102,51,153);}
._1360040 {stroke: rgb(102,51,153);}
._1360020 {stroke: rgb(102,51,153);}
._1000060 {stroke: rgb(102,51,153);}
._1450041 {fill: none;stroke: rgb(102,51,153);}
._1000010 {stroke: rgb(102,51,153);}
._2030010 {stroke: rgb(102,51,153);}
._1000020 {stroke: rgb(102,51,153);}
._2210010 {stroke: rgb(102,51,153);}
._2490010 {stroke: rgb(102,51,153);}
._1350030 {stroke: rgb(102,51,153);}
._2220010 {stroke: rgb(102,51,153);}
/* golf driving range location */
._2500010 {stroke: rgb(102,51,153);}
/* drive-in theatre */
._2070010 {stroke: rgb(102,51,153);}
._1000030 {stroke: rgb(102,51,153);}
._2480010 {stroke: rgb(102,51,153);}
._1080070 {stroke: rgb(102,51,153);}

