
path.fclass { stroke: blue; }

g[data-fid="fclass.1"] > path { stroke: blue; fill: #FF8C00;}
g[data-fid="fclass.2"] > path { stroke: blue; fill: #F5DEB3;}
g[data-fid="fclass.3"] > path { stroke: blue; fill: #7CFC00;}
g[data-fid="fclass.4"] > path { stroke: blue; fill: #E9967A;}
g[data-fid="fclass.5"] > path { stroke: blue; fill: #000080;}
g[data-fid="fclass.6"] > path { stroke: blue; fill: #006400;}
g[data-fid="fclass.7"] > path { stroke: blue; fill: #C0C0C0;}
g[data-fid="fclass.8"] > path { stroke: blue; fill: #FFE4E1;}
g[data-fid="fclass.9"] > path { stroke: blue; fill: #696969;}
g[data-fid="fclass.10"] > path { stroke: blue; fill: #556B2F;}
g[data-fid="fclass.11"] > path { stroke: blue; fill: #DCDCDC;}
g[data-fid="fclass.12"] > path { stroke: blue; fill: #00008B;}
g[data-fid="fclass.13"] > path { stroke: blue; fill: #FFF8DC;}
g[data-fid="fclass.14"] > path { stroke: blue; fill: #BC8F8F;}
g[data-fid="fclass.15"] > path { stroke: blue; fill: #483D8B;}
g[data-fid="fclass.16"] > path { stroke: blue; fill: #4682B4;}
g[data-fid="fclass.17"] > path { stroke: blue; fill: #98FB98;}
g[data-fid="fclass.18"] > path { stroke: blue; fill: #d4d423;}
g[data-fid="fclass.19"] > path { stroke: blue; fill: #EE82EE;}
g[data-fid="fclass.20"] > path { stroke: blue; fill: #DB7093;}
g[data-fid="fclass.21"] > path { stroke: blue; fill: #FF1493;}
g[data-fid="fclass.22"] > path { stroke: blue; fill: #F0F8FF;}
g[data-fid="fclass.23"] > path { stroke: blue; fill: #ADFF2F;}
g[data-fid="fclass.24"] > path { stroke: blue; fill: #7FFFD4;}
g[data-fid="fclass.25"] > path { stroke: blue; fill: #FF7F50;}
g[data-fid="fclass.26"] > path { stroke: blue; fill: #5F9EA0;}
g[data-fid="fclass.27"] > path { stroke: blue; fill: #87CEFA;}
g[data-fid="fclass.28"] > path { stroke: blue; fill: #80f5ba;}
g[data-fid="fclass.29"] > path { stroke: blue; fill: #228B22;}
g[data-fid="fclass.30"] > path { stroke: blue; fill: #CD5C5C;}
g[data-fid="fclass.31"] > path { stroke: blue; fill: #FFB6C1;}
g[data-fid="fclass.32"] > path { stroke: blue; fill: #cce8b1;}
g[data-fid="fclass.33"] > path { stroke: blue; fill: #B8860B;}
g[data-fid="fclass.34"] > path { stroke: blue; fill: #FF6347;}
g[data-fid="fclass.35"] > path { stroke: blue; fill: #E6E6FA;}
g[data-fid="fclass.36"] > path { stroke: blue; fill: #F0FFF0;}
g[data-fid="fclass.37"] > path { stroke: blue; fill: #FFFAF0;}
g[data-fid="fclass.38"] > path { stroke: blue; fill: #BA55D3;}
g[data-fid="fclass.39"] > path { stroke: blue; fill: #708090;}
g[data-fid="fclass.40"] > path { stroke: blue; fill: #008B8B;}
g[data-fid="fclass.41"] > path { stroke: blue; fill: #8FBC8F;}
g[data-fid="fclass.42"] > path { stroke: blue; fill: #6B8E23;}
g[data-fid="fclass.43"] > path { stroke: blue; fill: #0000CD;}
g[data-fid="fclass.44"] > path { stroke: blue; fill: #FFD700;}
g[data-fid="fclass.45"] > path { stroke: blue; fill: #3CB371;}
g[data-fid="fclass.46"] > path { stroke: blue; fill: #FFF0F5;}
g[data-fid="fclass.47"] > path { stroke: blue; fill: #FFFF00;}
g[data-fid="fclass.48"] > path { stroke: blue; fill: #BDB76B;}
g[data-fid="fclass.49"] > path { stroke: blue; fill: #FFFFE0;}
g[data-fid="fclass.50"] > path { stroke: blue; fill: #8A2BE2;}
g[data-fid="fclass.51"] > path { stroke: blue; fill: #FF69B4;}
g[data-fid="fclass.52"] > path { stroke: blue; fill: #808080;}
g[data-fid="fclass.53"] > path { stroke: blue; fill: #DC143C;}
g[data-fid="fclass.54"] > path { stroke: blue; fill: #9400D3;}
g[data-fid="fclass.55"] > path { stroke: blue; fill: #4B0082;}
g[data-fid="fclass.56"] > path { stroke: blue; fill: #66CDAA;}
g[data-fid="fclass.57"] > path { stroke: blue; fill: #800080;}
g[data-fid="fclass.58"] > path { stroke: blue; fill: #DA70D6;}
g[data-fid="fclass.59"] > path { stroke: blue; fill: #90EE90;}
g[data-fid="fclass.60"] > path { stroke: blue; fill: #D2691E;}
g[data-fid="fclass.61"] > path { stroke: blue; fill: #8B008B;}
g[data-fid="fclass.62"] > path { stroke: blue; fill: #A52A2A;}
g[data-fid="fclass.63"] > path { stroke: blue; fill: #EEE8AA;}
g[data-fid="fclass.64"] > path { stroke: blue; fill: #FFA500;}
g[data-fid="fclass.65"] > path { stroke: blue; fill: #E0FFFF;}
g[data-fid="fclass.66"] > path { stroke: blue; fill: #000000;}
g[data-fid="fclass.67"] > path { stroke: blue; fill: #4169E1;}
g[data-fid="fclass.68"] > path { stroke: blue; fill: #B0E0E6;}
g[data-fid="fclass.69"] > path { stroke: blue; fill: #FFF5EE;}
g[data-fid="fclass.70"] > path { stroke: blue; fill: #00FF7F;}
g[data-fid="fclass.71"] > path { stroke: blue; fill: #8B4513;}
g[data-fid="fclass.72"] > path { stroke: blue; fill: #DAA520;}
g[data-fid="fclass.73"] > path { stroke: blue; fill: #DDA0DD;}
g[data-fid="fclass.74"] > path { stroke: blue; fill: #00BFFF;}
g[data-fid="fclass.75"] > path { stroke: blue; fill: #7B68EE;}
g[data-fid="fclass.76"] > path { stroke: blue; fill: #008080;}
g[data-fid="fclass.77"] > path { stroke: blue; fill: #48D1CC;}
g[data-fid="fclass.78"] > path { stroke: blue; fill: #9932CC;}
g[data-fid="fclass.79"] > path { stroke: blue; fill: #00FFFF;}
g[data-fid="fclass.80"] > path { stroke: blue; fill: #6A5ACD;}
g[data-fid="fclass.81"] > path { stroke: blue; fill: #00FA9A;}
g[data-fid="fclass.82"] > path { stroke: blue; fill: #8B0000;}
g[data-fid="fclass.83"] > path { stroke: blue; fill: #FFEFD5;}
g[data-fid="fclass.84"] > path { stroke: blue; fill: #1E90FF;}
g[data-fid="fclass.85"] > path { stroke: blue; fill: #AFEEEE;}
g[data-fid="fclass.86"] > path { stroke: blue; fill: #FAEBD7;}
g[data-fid="fclass.87"] > path { stroke: blue; fill: #FAFAD2;}
g[data-fid="fclass.88"] > path { stroke: blue; fill: #A0522D;}
g[data-fid="fclass.89"] > path { stroke: blue; fill: #20B2AA;}
g[data-fid="fclass.90"] > path { stroke: blue; fill: #FFE4C4;}
g[data-fid="fclass.91"] > path { stroke: blue; fill: #FFFFFF;}
g[data-fid="fclass.92"] > path { stroke: blue; fill: #F4A460;}
g[data-fid="fclass.93"] > path { stroke: blue; fill: #9ACD32;}
g[data-fid="fclass.94"] > path { stroke: blue; fill: #778899;}
g[data-fid="fclass.95"] > path { stroke: blue; fill: #FFA07A;}
g[data-fid="fclass.96"] > path { stroke: blue; fill: #F5F5DC;}
g[data-fid="fclass.97"] > path { stroke: blue; fill: #D2B48C;}
g[data-fid="fclass.98"] > path { stroke: blue; fill: #800000;}
g[data-fid="fclass.99"] > path { stroke: blue; fill: #FFC0CB;}
g[data-fid="fclass.100"] > path { stroke: blue; fill: #40E0D0;}
g[data-fid="fclass.101"] > path { stroke: blue; fill: #D3D3D3;}
g[data-fid="fclass.102"] > path { stroke: blue; fill: #F08080;}
g[data-fid="fclass.103"] > path { stroke: blue; fill: #F0FFFF;}
g[data-fid="fclass.104"] > path { stroke: blue; fill: #DEB887;}
g[data-fid="fclass.105"] > path { stroke: blue; fill: #808000;}
g[data-fid="fclass.106"] > path { stroke: blue; fill: #C71585;}
g[data-fid="fclass.107"] > path { stroke: blue; fill: #D8BFD8;}
g[data-fid="fclass.108"] > path { stroke: blue; fill: #008000;}
g[data-fid="fclass.109"] > path { stroke: blue; fill: #2F4F4F;}
g[data-fid="fclass.110"] > path { stroke: blue; fill: #0000FF;}
g[data-fid="fclass.111"] > path { stroke: blue; fill: #9370DB;}
g[data-fid="fclass.112"] > path { stroke: blue; fill: #FF4500;}
g[data-fid="fclass.113"] > path { stroke: blue; fill: #87CEEB;}
g[data-fid="fclass.114"] > path { stroke: blue; fill: #00FFFF;}
g[data-fid="fclass.115"] > path { stroke: blue; fill: #A9A9A9;}
g[data-fid="fclass.116"] > path { stroke: blue; fill: #7B68EE;}
g[data-fid="fclass.117"] > path { stroke: blue; fill: #F0E68C;}
g[data-fid="fclass.118"] > path { stroke: blue; fill: #00FF00;}
g[data-fid="fclass.119"] > path { stroke: blue; fill: #CD853F;}
g[data-fid="fclass.120"] > path { stroke: blue; fill: #191970;}
g[data-fid="fclass.121"] > path { stroke: blue; fill: #FAF0E6;}
g[data-fid="fclass.122"] > path { stroke: blue; fill: #FDF5E6;}
g[data-fid="fclass.123"] > path { stroke: blue; fill: #FF00FF;}
g[data-fid="fclass.124"] > path { stroke: blue; fill: #B0C4DE;}
g[data-fid="fclass.125"] > path { stroke: blue; fill: #32CD32;}
g[data-fid="fclass.126"] > path { stroke: blue; fill: #FFA07A;}
g[data-fid="fclass.127"] > path { stroke: blue; fill: #FFFACD;}
g[data-fid="fclass.128"] > path { stroke: blue; fill: #FFEBCD;}
g[data-fid="fclass.129"] > path { stroke: blue; fill: #FFE4B5;}
g[data-fid="fclass.130"] > path { stroke: blue; fill: #F5F5F5;}
g[data-fid="fclass.131"] > path { stroke: blue; fill: #B22222;}
g[data-fid="fclass.132"] > path { stroke: blue; fill: #FFDAB9;}
g[data-fid="fclass.133"] > path { stroke: blue; fill: #FF00FF;}
g[data-fid="fclass.134"] > path { stroke: blue; fill: #2E8B57;}
g[data-fid="fclass.135"] > path { stroke: blue; fill: #FF0000;}
g[data-fid="fclass.136"] > path { stroke: blue; fill: #9966CC;}
g[data-fid="fclass.137"] > path { stroke: blue; fill: #FA8072;}
g[data-fid="fclass.138"] > path { stroke: blue; fill: #FFDEAD;}
g[data-fid="fclass.139"] > path { stroke: blue; fill: #00CED1;}
g[data-fid="fclass.140"] > path { stroke: blue; fill: #FFFAFA;}
g[data-fid="fclass.141"] > path { stroke: blue; fill: #7FFF00;}
g[data-fid="fclass.142"] > path { stroke: blue; fill: #6495ED;}
g[data-fid="fclass.143"] > path { stroke: blue; fill: #ADD8E6;}
g[data-fid="fclass.144"] > path { stroke: blue; fill: #FF8C00;}
g[data-fid="fclass.145"] > path { stroke: blue; fill: #F5DEB3;}
g[data-fid="fclass.146"] > path { stroke: blue; fill: #7CFC00;}
g[data-fid="fclass.147"] > path { stroke: blue; fill: #E9967A;}
g[data-fid="fclass.148"] > path { stroke: blue; fill: #000080;}
g[data-fid="fclass.149"] > path { stroke: blue; fill: #006400;}
g[data-fid="fclass.150"] > path { stroke: blue; fill: #C0C0C0;}
g[data-fid="fclass.151"] > path { stroke: blue; fill: #FFE4E1;}
g[data-fid="fclass.152"] > path { stroke: blue; fill: #696969;}
g[data-fid="fclass.153"] > path { stroke: blue; fill: #556B2F;}
g[data-fid="fclass.154"] > path { stroke: blue; fill: #DCDCDC;}
g[data-fid="fclass.155"] > path { stroke: blue; fill: #00008B;}
g[data-fid="fclass.156"] > path { stroke: blue; fill: #FFF8DC;}
g[data-fid="fclass.157"] > path { stroke: blue; fill: #BC8F8F;}
g[data-fid="fclass.158"] > path { stroke: blue; fill: #483D8B;}
g[data-fid="fclass.159"] > path { stroke: blue; fill: #4682B4;}
g[data-fid="fclass.160"] > path { stroke: blue; fill: #98FB98;}
g[data-fid="fclass.161"] > path { stroke: blue; fill: #FFFFF0;}
g[data-fid="fclass.162"] > path { stroke: blue; fill: #EE82EE;}
g[data-fid="fclass.163"] > path { stroke: blue; fill: #DB7093;}
g[data-fid="fclass.164"] > path { stroke: blue; fill: #FF1493;}
g[data-fid="fclass.165"] > path { stroke: blue; fill: #F0F8FF;}
g[data-fid="fclass.166"] > path { stroke: blue; fill: #ADFF2F;}
g[data-fid="fclass.167"] > path { stroke: blue; fill: #7FFFD4;}
g[data-fid="fclass.168"] > path { stroke: blue; fill: #FF7F50;}
g[data-fid="fclass.169"] > path { stroke: blue; fill: #5F9EA0;}
g[data-fid="fclass.170"] > path { stroke: blue; fill: #87CEFA;}
g[data-fid="fclass.171"] > path { stroke: blue; fill: #F5FFFA;}
g[data-fid="fclass.172"] > path { stroke: blue; fill: #228B22;}
g[data-fid="fclass.173"] > path { stroke: blue; fill: #CD5C5C;}
g[data-fid="fclass.174"] > path { stroke: blue; fill: #FFB6C1;}
g[data-fid="fclass.175"] > path { stroke: blue; fill: #F8F8FF;}
g[data-fid="fclass.176"] > path { stroke: blue; fill: #B8860B;}
g[data-fid="fclass.177"] > path { stroke: blue; fill: #FF6347;}
g[data-fid="fclass.178"] > path { stroke: blue; fill: #E6E6FA;}
g[data-fid="fclass.179"] > path { stroke: blue; fill: #F0FFF0;}
g[data-fid="fclass.180"] > path { stroke: blue; fill: #FFFAF0;}
g[data-fid="fclass.181"] > path { stroke: blue; fill: #BA55D3;}
g[data-fid="fclass.182"] > path { stroke: blue; fill: #708090;}
g[data-fid="fclass.183"] > path { stroke: blue; fill: #008B8B;}
g[data-fid="fclass.184"] > path { stroke: blue; fill: #8FBC8F;}
g[data-fid="fclass.185"] > path { stroke: blue; fill: #6B8E23;}
g[data-fid="fclass.186"] > path { stroke: blue; fill: #0000CD;}
g[data-fid="fclass.187"] > path { stroke: blue; fill: #FFD700;}
g[data-fid="fclass.188"] > path { stroke: blue; fill: #3CB371;}
g[data-fid="fclass.189"] > path { stroke: blue; fill: #FFF0F5;}
g[data-fid="fclass.190"] > path { stroke: blue; fill: #FFFF00;}
g[data-fid="fclass.191"] > path { stroke: blue; fill: #BDB76B;}
g[data-fid="fclass.192"] > path { stroke: blue; fill: #FFFFE0;}
g[data-fid="fclass.193"] > path { stroke: blue; fill: #8A2BE2;}
g[data-fid="fclass.194"] > path { stroke: blue; fill: #FF69B4;}
g[data-fid="fclass.195"] > path { stroke: blue; fill: #808080;}
g[data-fid="fclass.196"] > path { stroke: blue; fill: #DC143C;}
g[data-fid="fclass.197"] > path { stroke: blue; fill: #9400D3;}
g[data-fid="fclass.198"] > path { stroke: blue; fill: #4B0082;}
g[data-fid="fclass.199"] > path { stroke: blue; fill: #66CDAA;}
g[data-fid="fclass.200"] > path { stroke: blue; fill: #800080;}
g[data-fid="fclass.201"] > path { stroke: blue; fill: #DA70D6;}
g[data-fid="fclass.202"] > path { stroke: blue; fill: #90EE90;}
g[data-fid="fclass.203"] > path { stroke: blue; fill: #D2691E;}
g[data-fid="fclass.204"] > path { stroke: blue; fill: #8B008B;}
g[data-fid="fclass.205"] > path { stroke: blue; fill: #A52A2A;}
g[data-fid="fclass.206"] > path { stroke: blue; fill: #EEE8AA;}
g[data-fid="fclass.207"] > path { stroke: blue; fill: #FFA500;}
g[data-fid="fclass.208"] > path { stroke: blue; fill: #E0FFFF;}
g[data-fid="fclass.209"] > path { stroke: blue; fill: #000000;}
g[data-fid="fclass.210"] > path { stroke: blue; fill: #4169E1;}
g[data-fid="fclass.211"] > path { stroke: blue; fill: #B0E0E6;}
g[data-fid="fclass.212"] > path { stroke: blue; fill: #FFF5EE;}
g[data-fid="fclass.213"] > path { stroke: blue; fill: #00FF7F;}
g[data-fid="fclass.214"] > path { stroke: blue; fill: #8B4513;}
g[data-fid="fclass.215"] > path { stroke: blue; fill: #DAA520;}
g[data-fid="fclass.216"] > path { stroke: blue; fill: #DDA0DD;}
g[data-fid="fclass.217"] > path { stroke: blue; fill: #00BFFF;}
g[data-fid="fclass.218"] > path { stroke: blue; fill: #7B68EE;}
g[data-fid="fclass.219"] > path { stroke: blue; fill: #008080;}
g[data-fid="fclass.220"] > path { stroke: blue; fill: #48D1CC;}
g[data-fid="fclass.221"] > path { stroke: blue; fill: #9932CC;}
g[data-fid="fclass.222"] > path { stroke: blue; fill: #00FFFF;}
g[data-fid="fclass.223"] > path { stroke: blue; fill: #6A5ACD;}
g[data-fid="fclass.224"] > path { stroke: blue; fill: #00FA9A;}
g[data-fid="fclass.225"] > path { stroke: blue; fill: #8B0000;}
g[data-fid="fclass.226"] > path { stroke: blue; fill: #FFEFD5;}
g[data-fid="fclass.227"] > path { stroke: blue; fill: #1E90FF;}
g[data-fid="fclass.228"] > path { stroke: blue; fill: #AFEEEE;}
g[data-fid="fclass.229"] > path { stroke: blue; fill: #FAEBD7;}
g[data-fid="fclass.230"] > path { stroke: blue; fill: #FAFAD2;}
g[data-fid="fclass.231"] > path { stroke: blue; fill: #A0522D;}
g[data-fid="fclass.232"] > path { stroke: blue; fill: #20B2AA;}
g[data-fid="fclass.233"] > path { stroke: blue; fill: #FFE4C4;}
g[data-fid="fclass.234"] > path { stroke: blue; fill: #FFFFFF;}
g[data-fid="fclass.235"] > path { stroke: blue; fill: #F4A460;}
g[data-fid="fclass.236"] > path { stroke: blue; fill: #9ACD32;}
g[data-fid="fclass.237"] > path { stroke: blue; fill: #778899;}
g[data-fid="fclass.238"] > path { stroke: blue; fill: #FFA07A;}
g[data-fid="fclass.239"] > path { stroke: blue; fill: #F5F5DC;}
g[data-fid="fclass.240"] > path { stroke: blue; fill: #D2B48C;}
g[data-fid="fclass.241"] > path { stroke: blue; fill: #800000;}
g[data-fid="fclass.242"] > path { stroke: blue; fill: #FFC0CB;}
g[data-fid="fclass.243"] > path { stroke: blue; fill: #40E0D0;}
g[data-fid="fclass.244"] > path { stroke: blue; fill: #D3D3D3;}
g[data-fid="fclass.245"] > path { stroke: blue; fill: #F08080;}
g[data-fid="fclass.246"] > path { stroke: blue; fill: #F0FFFF;}
g[data-fid="fclass.247"] > path { stroke: blue; fill: #DEB887;}
g[data-fid="fclass.248"] > path { stroke: blue; fill: #808000;}
g[data-fid="fclass.249"] > path { stroke: blue; fill: #C71585;}
g[data-fid="fclass.250"] > path { stroke: blue; fill: #D8BFD8;}
g[data-fid="fclass.251"] > path { stroke: blue; fill: #008000;}
g[data-fid="fclass.252"] > path { stroke: blue; fill: #2F4F4F;}
g[data-fid="fclass.253"] > path { stroke: blue; fill: #0000FF;}
g[data-fid="fclass.254"] > path { stroke: blue; fill: #9370DB;}
g[data-fid="fclass.255"] > path { stroke: blue; fill: #FF4500;}
g[data-fid="fclass.256"] > path { stroke: blue; fill: #87CEEB;}
g[data-fid="fclass.257"] > path { stroke: blue; fill: #00FFFF;}
g[data-fid="fclass.258"] > path { stroke: blue; fill: #A9A9A9;}
g[data-fid="fclass.259"] > path { stroke: blue; fill: #7B68EE;}
g[data-fid="fclass.260"] > path { stroke: blue; fill: #F0E68C;}
g[data-fid="fclass.261"] > path { stroke: blue; fill: #00FF00;}
g[data-fid="fclass.262"] > path { stroke: blue; fill: #CD853F;}
g[data-fid="fclass.263"] > path { stroke: blue; fill: #191970;}
g[data-fid="fclass.264"] > path { stroke: blue; fill: #FAF0E6;}
g[data-fid="fclass.265"] > path { stroke: blue; fill: #FDF5E6;}
g[data-fid="fclass.266"] > path { stroke: blue; fill: #FF00FF;}
g[data-fid="fclass.267"] > path { stroke: blue; fill: #B0C4DE;}
g[data-fid="fclass.268"] > path { stroke: blue; fill: #32CD32;}
g[data-fid="fclass.269"] > path { stroke: blue; fill: #FFA07A;}
g[data-fid="fclass.270"] > path { stroke: blue; fill: #FFFACD;}
g[data-fid="fclass.271"] > path { stroke: blue; fill: #FFEBCD;}
g[data-fid="fclass.272"] > path { stroke: blue; fill: #FFE4B5;}
g[data-fid="fclass.273"] > path { stroke: blue; fill: #F5F5F5;}
g[data-fid="fclass.274"] > path { stroke: blue; fill: #B22222;}
g[data-fid="fclass.275"] > path { stroke: blue; fill: #FFDAB9;}
g[data-fid="fclass.276"] > path { stroke: blue; fill: #FF00FF;}
g[data-fid="fclass.277"] > path { stroke: blue; fill: #2E8B57;}
g[data-fid="fclass.278"] > path { stroke: blue; fill: #FF0000;}
g[data-fid="fclass.279"] > path { stroke: blue; fill: #9966CC;}
g[data-fid="fclass.280"] > path { stroke: blue; fill: #FA8072;}
g[data-fid="fclass.281"] > path { stroke: blue; fill: #FFDEAD;}
g[data-fid="fclass.282"] > path { stroke: blue; fill: #00CED1;}
g[data-fid="fclass.283"] > path { stroke: blue; fill: #FFFAFA;}
g[data-fid="fclass.284"] > path { stroke: blue; fill: #7FFF00;}
g[data-fid="fclass.285"] > path { stroke: blue; fill: #6495ED;}
g[data-fid="fclass.286"] > path { stroke: blue; fill: #ADD8E6;}

      /* Those parts which are wrapped in a span also inherit the class
      values of the span element, which in this case are taken to be noline and
      aren"t therefore drawn at all (they are there only to represent tile boundaries)*/
path.noline { display: none}
      