name: Continuous Testing

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js
      uses: actions/setup-node@v1
      with:
        node-version: '12.x'
    - run: sudo apt-get install xvfb
    - run: npm install
    - run: npm install -g grunt-cli
    - run: grunt clean copy rollup
    - run: xvfb-run --auto-servernum -- npm test
      env:
        CI: true